AWS_Projects/Deploy_ML_Model/v1
AWS_Projects/Dummy_ML_Model_AWS.ipynb
AWS_Projects/my_lambda_function
MLFlow/Training-Screenshot-of-Course
My-LocalStack-MLFlow-GitHub-Action/mlruns
My-LocalStack-MLFlow-GitHub-Action/project-1/train_model_2.py
